.file-path {
    all: unset;
}

.file-path:hover {
    color: #CE242B; /* Цвет ссылки при наведении */
    text-decoration: underline; /* Добавляем подчёркивание */
}

.icon {
    width: 18px;
    height: 18px;
}

.log {
    float: right;
    background-color: rgb(104, 85, 224);
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}